button {
  padding: 6px; 
  background: #424B54;
  color: #fff;
  border: 1px solid #000;
  display: block;
  margin: 10px auto;
  width: 150px;
}

button:hover {
  background: #C5BAAF;
  color: #000;
}

input, select, label {
  display: block;
  margin: 10px auto;
}

.add-programmer-form {
  padding: 10px;
  background: #D5ACA9;
  width: 20%;
}

.remove-button {
  display: inline-block;
}

.data-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  text-align: center;
  width: 20%;
  margin: 2% auto;
  border: 1px solid fff;
  padding: 10px;
  background: #D5ACA9;
}

.center {
  margin: 0 auto;
  text-align: center;
}